<a href="https://colab.research.google.com/github/Prem-Jain/Python/blob/main/Coverter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kilometers to Miles

In [ ]:
def km_m():
    print("Enter Kilometers : ")
    km = float(input())
    m = 0.6213711922 * km
    print("Miles = ",m)

# Miles to Kilometers

In [ ]:
def m_km():
    print("Enter miles : ")
    m = float(input())
    km = 1.609344 * m
    print("kilometers = ",km)

# Celsius to Fahrenheit

In [ ]:
def c_f():
    print("Enter Celsius : ")
    c = float(input())
    f = (c*9/5) + 32
    print("Fahrenheit = ",f)

# Fahrenheit to Celsius

In [ ]:
def f_c():
    print("Enter Fahrenheit : ")
    f = float(input())
    c = (f-32)*(5/9)
    print("Celsius = ",c)

In [ ]:
print("Welcome to the converter")
print("""
1.Kilometer to miles
2.Miles to Kilometer
3.Celsius to Farenheit
4.Farenheit to celsius
5.Exit

Choose your option""")
x = int(input())
while x < 5:
    if x == 1 :
        km_m()
    elif x == 2:
        m_km()
    elif x == 3:
        c_f()
    elif x == 4:
        f_c()
    print("Choose your option")
    x = int(input())

Welcome to the converter

1.Kilometer to miles
2.Miles to Kilometer
3.Celsius to Farenheit
4.Farenheit to celsius
5.Exit

Choose your option
1
Enter Kilometers :
1.6
Miles =  0.9941939075200001
Choose your option
2
Enter miles :
0.6
kilometers =  0.9656064
Choose your option
3
Enter Celsius :
100
Fahrenheit =  212.0
Choose your option
4
Enter Fahrenheit :
99
Celsius =  37.22222222222222
Choose your option
5